SyntaxError: ignored

https://www.convertcsv.com/json-to-csv.htm

API format: https://codeforces.com/api/user.status?handle=_Satoru_&from=1&count=1177

In [46]:
import pandas as pd
df = pd.read_csv("/shanks.csv")
df.columns
df=df.drop(['status', 'result__id', 'result__contestId',
       'result__creationTimeSeconds', 'result__relativeTimeSeconds', 'result__problem__index',
       'result__problem__points',
       'result__problem__tags__003', 'result__problem__tags__004',
       'result__problem__tags__005', 'result__problem__tags__006',
       'result__problem__tags__007', 'result__problem__tags__008',
       'result__author__contestId', 'result__author__ghost',
       'result__author__room', 'result__author__startTimeSeconds',
       'result__programmingLanguage', 'result__testset',
       'result__passedTestCount', 'result__timeConsumedMillis',
       'result__memoryConsumedBytes'],axis=1)

In [47]:
df=df.drop('result__problem__type',axis=1)

In [48]:
df.columns

Index(['result__problem__contestId', 'result__problem__name',
       'result__problem__rating', 'result__problem__tags__001',
       'result__problem__tags__002', 'result__problem__tags__009',
       'result__author__members__handle', 'result__author__participantType',
       'result__verdict'],
      dtype='object')

In [49]:
df_filtered = df[df['result__problem__rating'] > 1200]

In [50]:
df=df_filtered.drop_duplicates(subset=["result__problem__name"], keep="first")

In [51]:
from google.colab import  drive
drive.mount('/drive')

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).

In [52]:
df.reset_index(drop=True, inplace=True)

In [53]:
df

,result__problem__contestId,result__problem__name,result__problem__rating,result__problem__tags__001,result__problem__tags__002,result__problem__tags__009,result__author__members__handle,result__author__participantType,result__verdict
0,1691,Max GEQ Sum,1800,binary search,constructive algorithms,NaN,cooler_killer,CONTESTANT,OK
1,1691,Sum of Substrings,1400,brute force,constructive algorithms,NaN,cooler_killer,CONTESTANT,OK
2,1681,Required Length,1700,brute force,dfs and similar,NaN,cooler_killer,PRACTICE,OK
3,1684,Traps,1700,constructive algorithms,greedy,NaN,cooler_killer,PRACTICE,OK
4,1684,Column Swapping,1400,brute force,constructive algorithms,NaN,cooler_killer,CONTESTANT,OK
...,...,...,...,...,...,...,...,...,...
307,1281,Azamon Web Services,1600,greedy,NaN,NaN,cooler_killer,PRACTICE,OK
308,576,Vasya and Petya's Game,1500,math,number theory,NaN,cooler_killer,PRACTICE,OK
309,328,Sheldon and Ice Pieces,1500,greedy,NaN,NaN,cooler_killer,PRACTICE,OK
310,1327,Game with Chips,1600,constructive algorithms,implementation,NaN,cooler_killer,PRACTICE,OK
311,1422,Nice Matrix,1300,greedy,implementation,NaN,cooler_killer,CONTESTANT,OK

In [55]:
df.to_csv('/drive/My Drive/shanks_problems.csv')